body {
    color: white;
    background-color: #001118;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

ul.header {
    list-style-type: none;
    display: table;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: limegreen;
}

ul.header a:hover {
    text-decoration: none;
}

li.header {
    float: left;
}

li.header a, .dropBtn {
    display: inline-block;
    font-size: 24px;
    padding: 8px 20px;
}

li.header a:hover, .dropDown:hover, .dropBtn:hover {
    background-color: darkgreen;
}

li.dropDown {
    display: inline-block;
    float: left;
}

.dropDown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width:105px;
}

.dropDown-content a:hover {
    background-color: black;
}

.dropDown-content a {
    padding: 8px 20px;
    display: block;
    text-align: center;
}

.dropDown:hover .dropDown-content {
    display: block;
}

img.header {
    display: block;
    margin: auto;
    padding: 15px;
    height: 96px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: none;
}

table td {
    padding: 5px;
}

table.tugasList {
    border-collapse: separate;
    border-spacing: 10px 20px;
}

table.tugasList td.tugasDays {
    background-color: maroon;
    font-size: 16px;
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

.tugasDaysNumber {
    font-size: 50px;
}

table.tugasList td.tugasTask {
    background-color: crimson;
    vertical-align: text-top;
    padding: 10px;
}

.tugasTaskSubject {
    font-size: 24px;
    font-weight: bold;
}

.tugasTaskDate {
    font-style: italic;
}

table.dataMahasiswa {
    text-align: left;
    border-collapse: separate;
    border-spacing: 25px 0px;
}

.materiList {
	border-collapse: separate;
	border-spacing: 25px 50px;
}

.materiList tr: first-child {
	
}

.materiList img {
	width: 90px;
	padding-right: 50px;
	
}

.footer {
    display: inline-block;
    float: left;
    max-width: 200px;
    font-size: 12px;
    padding:10px 100px 0px 0px;
}

.centerFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}